* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

button {
background-color: #c838b5;
} 

#cart .item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

#apply-coupon {
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}

#apply-coupon:disabled {
    background-color: #ccc;
}